In [1]:
import pandas as pd
print(pd.__version__)
df = pd.read_csv('bank_term_deposit.csv')
print(df.to_string())

1.4.1
       age            job   marital  education  balance housing loan  duration  campaign  pdays poutcome    y
0     30.0     unemployed   married    primary   1787.0      no   no      79.0         1     -1  unknown   no
1     33.0       services   married  secondary   4789.0     yes  yes       NaN         1    339  failure   no
2      NaN     management    single   tertiary    135.0     yes   no     185.0         1    330  failure   no
3     30.0     management   married   tertiary   1476.0     yes  yes     199.0         4     -1  unknown   no
4     59.0    blue-collar   married  secondary      NaN     yes   no     226.0         1     -1  unknown   no
5      NaN     management    single   tertiary    747.0     NaN   no     141.0         2    176  failure   no
6     36.0  self-employed   married   tertiary     37.0     yes   no     341.0         1    330    other   no
7     39.0     technician   married  secondary    147.0     yes   no     151.0         2     -1  unknown   no
8     41.0   entrepreneur   married   tertiary    221.0     yes   no      57.0         2     -1  unknown   no
9     43.0       services   married    primary    -88.0     yes  yes     313.0         1    147  failure   no
10    39.0       services   married  secondary   9374.0     yes   no     273.0         1     -1  unknown   no
11    43.0         admin.   married  secondary    264.0     yes   no     113.0         2     -1  unknown   no
12    36.0     technician   married   tertiary    119.0      no   no     328.0         2     -1  unknown   no
13    20.0        student    single  secondary     52.0      no   no     261.0         1     -1  unknown  yes
14    31.0    blue-collar   married  secondary     36.0     yes  yes      89.0         1    241  failure   no
15    40.0     management   married   tertiary    194.0      no  yes     189.0         2     -1  unknown   no
16    56.0     technician   married  secondary    473.0      no   no     239.0         5     -1  unknown   no
17    37.0         admin.       NaN   tertiary   2317.0     yes   no     114.0         1    152  failure   no
18    25.0    blue-collar    single    primary   -221.0     yes   no     250.0         1     -1  unknown   no
19    31.0       services   married  secondary    132.0      no   no     148.0         1    152    other   no
20    38.0     management  divorced    unknown      NaN     yes   no      96.0         2     -1  unknown   no
21    42.0     management  divorced   tertiary     16.0      no   no     140.0         3     -1  unknown   no
22    44.0       services    single  secondary     16.0      no   no     109.0         2     -1  unknown   no
23    44.0   entrepreneur   married  secondary     93.0      no   no       NaN         2     -1  unknown   no
24    26.0      housemaid   married   tertiary    543.0      no   no     169.0         3     -1  unknown   no
25    41.0     management   married   tertiary   5883.0      no   no     182.0         2     -1  unknown   no
26    55.0    blue-collar   married    primary    627.0     NaN   no     247.0         1     -1  unknown   no
27    67.0        retired   married    unknown    696.0      no   no     119.0         1    105  failure   no
28    56.0  self-employed   married  secondary    784.0      no  yes     149.0         2     -1  unknown   no
29     NaN         admin.   married  secondary     15.0      no  yes      74.0         2     -1  unknown   no
30    68.0        retired  divorced  secondary   4189.0      no   no     897.0         2     -1  unknown  yes
31    31.0     technician   married  secondary    171.0      no   no      81.0         3     -1  unknown   no
32    59.0     management   married  secondary     42.0      no   no      40.0         1     -1  unknown   no
33    32.0     management    single   tertiary   2536.0     yes   no     958.0         6     -1  unknown  yes
34    49.0     technician   married   tertiary   1235.0      no   no     354.0         3     -1  unknown  NaN
35    42.0         admin.  divorced  secondary   1811.0     yes   no     150.0         1     -1  unknown   no
36    78.0        retired  divorced    primary    229.0      no   no      97.0         1     -1  unknown  yes
37    32.0    blue-collar   married  secondary    289.0     yes   no     132.0         1     -1  unknown  yes
38    33.0     management   married  secondary   3935.0     yes   no     765.0         1    342  failure  NaN
39    23.0       services    single   tertiary    363.0     yes   no      16.0        18     -1  unknown   no
40    38.0     management       NaN   tertiary  11971.0     yes   no     609.0         2    101  failure   no
41    36.0     management    single   tertiary    553.0      no   no       NaN         2     -1  unknown   no
42    52.0    blue-collar   married  secondary   1117.0     yes   no     365.0         1     -1  unknown   no
43    32.0     technician   married   tertiary    396.0     yes   no     205.0         3     -1  unknown   no
44    32.0     technician    single   tertiary    224.0     yes   no      11.0         4     -1  unknown   no
45     NaN     management    single   tertiary    872.0     yes   no     105.0         2     -1  unknown   no
46    55.0    blue-collar   married    primary    145.0      no   no      59.0         3      5    other   no
47    26.0    blue-collar   married    primary      NaN     yes   no     425.0         1     -1  unknown   no
48    32.0   entrepreneur    single    primary   -849.0     NaN  yes     204.0         1     -1  unknown   no
49    61.0         admin.   married    unknown   4629.0     yes   no     181.0         1     92  success  yes
50    45.0    blue-collar  divorced    primary    844.0      no   no    1018.0         3     -1  unknown  yes
51    37.0     technician    single  secondary    228.0     yes   no    1740.0         2     -1  unknown   no
52    38.0     technician    single  secondary      5.0      no   no      98.0         2     -1  unknown   no
53     NaN     technician   married   tertiary   1539.0     yes   no     441.0         1     56    other  yes
54     NaN    blue-collar   married  secondary   2231.0     yes   no     272.0         3     -1  unknown  NaN
55    48.0         admin.   married  secondary    364.0     yes   no     159.0         2     -1  unknown   no
56    57.0     management   married  secondary     82.0      no  yes     140.0         1     -1  unknown   no
57    33.0  self-employed    single   tertiary   2155.0      no   no     295.0         1     -1  unknown   no
58    36.0        retired    single  secondary     11.0     yes  yes     314.0         1     -1  unknown   no
59    54.0     technician  divorced  secondary    784.0     yes  yes     579.0         1     -1  unknown   no
60    41.0    blue-collar   married    primary   -516.0      no  yes     554.0         3     -1  unknown   no
61    63.0        retired   married  secondary    415.0     yes   no     323.0         1     -1  unknown   no
62    48.0     management   married   tertiary   5887.0      no   no     227.0         2     -1  unknown   no
63    48.0       services   married  secondary   1355.0      no   no     134.0         2     -1  unknown   no
64    56.0         admin.   married  secondary  16873.0      no   no     223.0         1     -1  unknown   no
65    51.0    blue-collar  divorced  secondary     23.0     yes   no     134.0         1    170  failure  NaN
66    31.0       services   married  secondary    338.0     yes   no     155.0         1     -1  unknown   no
67    29.0     technician   married  secondary    444.0     yes   no     130.0         4     -1  unknown   no
68    41.0     management   married  secondary      NaN      no  yes     630.0         3     -1  unknown   no
69    32.0     technician    single   tertiary     36.0      no   no     164.0         2     -1  unknown   no
70    37.0     management   married   tertiary      NaN      no   no     268.0         2    182  success  yes
71    42.0   entrepreneur  divorced   tertiary      2.0     yes   no     380.0         1     -1  unknown   no
72    31.0     management    single   tertiary   6248.0     yes   no     154.0         2     -1  unknown   no
73    41.0       services   married   tertiary    412.0     yes   no     154.0         5     -1  unknown   no
74    56.0        retired   married  secondary    344.0     yes   no     221.0         1     -1  unknown   no
75    54.0     management  divorced   tertiary   3222.0      no   no      67.0         2     -1  unknown   no
76    41.0    blue-collar  divorced  secondary    174.0     yes   no     367.0         2    297    other   no
77    40.0     technician    single  secondary    591.0      no  yes      87.0         6     -1  unknown   no
78    50.0    blue-collar  divorced    primary    388.0      no   no     701.0         1     -1  unknown   no
79    40.0     unemployed   married  secondary    219.0     yes   no     204.0         2    196  failure   no
80    27.0         admin.  divorced  secondary    451.0     yes   no     652.0         1     -1  unknown  yes
81    60.0        retired   married    primary      5.0      no   no      63.0         2     -1  unknown   no
82    28.0         admin.    single  secondary    177.0     yes  yes     150.0         1     -1  unknown   no
83    52.0       services   married  secondary    657.0      no   no     398.0         2    460  failure  yes
84    37.0     management   married   tertiary   1315.0      no   no     224.0         1     -1  unknown  yes
85    51.0    blue-collar   married    primary   1466.0     yes   no     406.0         2     -1  unknown   no
86    41.0     technician    single  secondary    879.0      no  yes      60.0         4     -1  unknown   no
87     NaN    blue-collar    single    primary    293.0     yes   no     521.0         2     -1  unknown   no
88    38.0         admin.   married  secondary    424.0     yes   no     279.0         1     -1  unknown   no
89     NaN    blue-collar   married  secondary   1831.0     yes   no     203.0         2     -1  unknown  NaN
90    39.0    blue-collar   married    primary    111.0      no   no     201.0         2     -1  unknown  NaN
91     NaN    blue-collar   married    primary    455.0     yes   no     372.0         3     -1  unknown   no
92    27.0       services    single  secondary   -195.0     yes   no     391.0         1     -1  unknown  yes
93    32.0     management    single   tertiary   3616.0      no   no     165.0         2     -1  unknown   no
94    57.0    blue-collar   married  secondary   1493.0      no   no     231.0         5     -1  unknown  NaN
95    41.0        unknown    single   tertiary   1567.0      no   no     291.0         2     -1  unknown   no
96    41.0         admin.   married   tertiary   5426.0     yes   no     149.0         2     -1  unknown   no
97    30.0         admin.    single   tertiary    261.0     NaN   no     233.0         1    137  failure   no
98    36.0    blue-collar  divorced  secondary   2843.0      no   no     473.0         1    182  success   no
99    31.0     unemployed       NaN    primary     46.0      no   no     736.0         1     -1  unknown  yes
100   36.0    blue-collar   married  secondary      NaN     NaN   no     337.0         1     -1  unknown   no
101   38.0     management    single   tertiary    493.0     yes   no     553.0         1    367  failure  NaN
102   49.0     technician   married  secondary   5996.0      no   no     345.0         2     -1  unknown   no
103   57.0       services    single    primary   3777.0     yes   no      65.0         2     -1  unknown  NaN
104    NaN     management    single  secondary    524.0      no   no       9.0         1     -1  unknown   no
105   32.0     management    single   tertiary    574.0     NaN   no     259.0         2    145  failure   no
106   37.0    blue-collar   married  secondary    427.0     yes  yes     371.0         3     -1  unknown   no
107   33.0  self-employed   married   tertiary    483.0     yes   no     280.0         2     -1  unknown   no
108   56.0     unemployed   married    primary   3391.0      no   no     243.0         1     -1  unknown  yes
109   27.0      housemaid   married    primary      NaN     yes   no     435.0         3     -1  unknown   no
110   21.0        student    single  secondary   2488.0      no   no     258.0         6    169  success  yes
111   58.0     management   married   tertiary   1517.0     yes   no       7.0         5     -1  unknown  NaN
112   32.0  self-employed   married  secondary    217.0     yes  yes     317.0         5     -1  unknown   no
113   33.0    blue-collar    single  secondary     22.0      no   no      76.0         2    207  failure   no
114   25.0        student    single  secondary    331.0      no   no     170.0         4     -1  unknown  yes
115   25.0     technician    single  secondary     55.0      no  yes     386.0         2     -1  unknown  yes
116   30.0       services   married  secondary    188.0     yes   no      83.0         2     -1  unknown   no
117   22.0         admin.    single  secondary   4111.0      no  yes      65.0         1     -1  unknown   no
118   39.0    blue-collar   married    primary     52.0      no   no      69.0         1     -1  unknown   no
119   46.0     management  divorced   tertiary     25.0      no   no     564.0         2     -1  unknown   no
120   31.0         admin.  divorced  secondary    189.0     yes   no     588.0         1     -1  unknown  NaN
121   45.0    blue-collar   married    primary    419.0      no   no     113.0         4     -1  unknown   no
122   32.0     technician   married  secondary   2693.0     yes   no      16.0         1     -1  unknown   no
123   36.0    blue-collar   married  secondary   -231.0      no  yes     779.0         2     -1  unknown   no
124   51.0     management    single   tertiary    -55.0     yes   no     281.0         2    266  failure   no
125    NaN  self-employed    single   tertiary    462.0     NaN   no    1877.0         3     -1  unknown  yes
126    NaN     unemployed    single  secondary    119.0      no   no      51.0         1     -1  unknown   no
127   45.0     technician    single  secondary    586.0      no  yes      32.0         3     -1  unknown   no
128   32.0    blue-collar    single  secondary    228.0      no   no     176.0         1    288  failure   no
129    NaN        retired  divorced   tertiary   4659.0      no   no     161.0         1     -1  unknown  yes
130   41.0    blue-collar   married    primary    168.0     yes   no     187.0         3     -1  unknown   no
131   37.0    blue-collar   married    primary      NaN     yes   no      24.0         1     -1  unknown   no
132   43.0    blue-collar   married    unknown   -715.0     yes   no       NaN         3     -1  unknown   no
133   48.0         admin.   married    unknown      NaN     yes   no      85.0         1    168  failure   no
134   27.0     technician    single  secondary    769.0     yes   no     317.0         2     -1  unknown  NaN
135   33.0     management    single   tertiary      NaN      no   no     236.0        10     -1  unknown   no
136   29.0         admin.    single  secondary    428.0     yes  yes      54.0         1    345  failure   no
137    NaN     management    single   tertiary      NaN      no   no      71.0         1     -1  unknown   no
138   52.0     management   married   tertiary    -97.0     yes   no     489.0         1     -1  unknown  yes
139   60.0     management   married    unknown   6313.0      no   no      39.0         2     -1  unknown   no
140   32.0     management  divorced   tertiary    948.0      no   no     204.0         2     -1  unknown   no
141   32.0     management    single   tertiary      NaN     yes   no     455.0         2     -1  unknown   no
142   56.0       services  divorced    unknown   1877.0     yes   no      86.0         1     -1  unknown   no
143   31.0     management    single   tertiary    874.0     yes   no     190.0         2     -1  unknown   no
144   42.0         admin.   married  secondary    323.0     yes  yes     280.0         2     -1  unknown   no
145    NaN     management   married   tertiary     16.0      no  yes     588.0         2     -1  unknown  NaN
146   56.0        retired   married    primary    196.0      no  yes      45.0         9     -1  unknown   no
147   48.0     technician   married  secondary   1152.0     yes   no     168.0         5     -1  unknown   no
148   46.0         admin.   married  secondary    179.0     yes   no     194.0         4    436    other   no
149   37.0     technician    single    unknown    391.0     yes   no     103.0         3     -1  unknown   no
150   41.0   entrepreneur   married    unknown     89.0     yes   no     333.0         2     -1  unknown   no
151   36.0     management    single   tertiary    442.0     yes  yes     102.0         3     -1  unknown   no
152   45.0     unemployed  divorced    primary   -249.0     yes  yes      92.0         1     -1  unknown   no
153   55.0   entrepreneur   married  secondary    814.0      no   no     213.0         2     -1  unknown   no
154   39.0     technician   married  secondary     51.0      no   no     289.0         1     -1  unknown   no
155    NaN     technician  divorced  secondary     38.0      no   no      77.0         2     -1  unknown   no
156   55.0         admin.   married  secondary     62.0      no   no       NaN         3     90  success  yes
157   55.0     technician   married  secondary    273.0     yes   no      84.0         3    183  failure   no
158   27.0  self-employed    single  secondary      5.0      no   no     168.0         1     -1  unknown   no
159    NaN     technician   married  secondary   1641.0     yes   no     380.0         1     -1  unknown   no
160    NaN    blue-collar   married   tertiary      2.0      no   no       NaN         1     -1  unknown   no
161   25.0         admin.    single  secondary    459.0     yes   no     199.0         2     -1  unknown   no
162   41.0         admin.    single  secondary   -256.0      no  yes      35.0         3     -1  unknown  NaN
163   43.0       services   married  secondary    978.0     yes  yes      82.0         2     -1  unknown   no
164   28.0     management    single   tertiary      8.0      no   no     676.0         2    146  failure  yes
165   31.0         admin.    single  secondary    214.0     yes   no     455.0         1     -1  unknown   no
166   78.0      housemaid   married  secondary    499.0      no   no      80.0         4     -1  unknown   no
167   45.0    blue-collar  divorced  secondary   1269.0     yes   no     549.0         2     -1  unknown   no
168   48.0     technician   married   tertiary     31.0      no   no       NaN         1     -1  unknown  NaN
169   32.0    blue-collar    single  secondary   1143.0     yes  yes     412.0         1     -1  unknown   no
170   42.0     technician   married  secondary    298.0      no   no     101.0         3     -1  unknown   no
171   37.0     management    single   tertiary     37.0      no   no     253.0         2     -1  unknown   no
172   40.0         admin.    single  secondary    462.0     yes  yes     272.0         1    335    other   no
173   32.0         admin.   married  secondary    131.0     yes   no       NaN         1     -1  unknown   no
174   42.0     management   married   tertiary     99.0      no   no     135.0         2     -1  unknown   no
175   43.0         admin.   married  secondary   -465.0     yes  yes     166.0         1     -1  unknown   no
176   44.0         admin.   married  secondary   5181.0     yes  yes      18.0         7     -1  unknown   no
177   37.0         admin.   married  secondary    176.0     yes   no     147.0         2    347  failure   no
178   37.0        unknown   married    unknown   1699.0      no   no      63.0         1     -1  unknown   no
179   37.0         admin.   married   tertiary      NaN     yes   no      65.0         2    119  failure   no

In [2]:
perc =[.25, .50, .75, .100]
desc = df.describe(percentiles = perc)
desc

               age       balance     duration     campaign        pdays
count  3984.000000   4164.000000  4388.000000  4521.000000  4521.000000
mean     41.617470   1136.750240   264.724020     2.793630    39.766645
std      10.696378   2726.204918   261.057119     3.109807   100.121124
min      19.000000  -3313.000000     4.000000     1.000000    -1.000000
10%      29.000000      2.000000    58.000000     1.000000    -1.000000
25%      32.000000     58.000000   104.000000     1.000000    -1.000000
50%      40.000000    316.000000   185.500000     2.000000    -1.000000
75%      49.000000    997.000000   331.000000     3.000000    -1.000000
max      87.000000  71188.000000  3025.000000    50.000000   871.000000

In [3]:
df.tail()

,age,job,marital,education,balance,housing,loan,duration,campaign,pdays,poutcome,y
4516,33.0,services,married,secondary,-333.0,yes,no,329.0,5,-1,unknown,no
4517,57.0,self-employed,married,tertiary,-3313.0,yes,yes,153.0,1,-1,unknown,no
4518,57.0,technician,married,secondary,295.0,no,no,151.0,11,-1,unknown,no
4519,28.0,blue-collar,married,secondary,1137.0,no,no,129.0,4,211,other,no
4520,44.0,entrepreneur,single,tertiary,1136.0,yes,yes,345.0,2,249,other,no

In [4]:
df.head()

,age,job,marital,education,balance,housing,loan,duration,campaign,pdays,poutcome,y
0,30.0,unemployed,married,primary,1787.0,no,no,79.0,1,-1,unknown,no
1,33.0,services,married,secondary,4789.0,yes,yes,NaN,1,339,failure,no
2,NaN,management,single,tertiary,135.0,yes,no,185.0,1,330,failure,no
3,30.0,management,married,tertiary,1476.0,yes,yes,199.0,4,-1,unknown,no
4,59.0,blue-collar,married,secondary,NaN,yes,no,226.0,1,-1,unknown,no

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        3984 non-null   float64
 1   job        4521 non-null   object
 2   marital    4401 non-null   object
 3   education  4521 non-null   object
 4   balance    4164 non-null   float64
 5   housing    4302 non-null   object
 6   loan       4521 non-null   object
 7   duration   4388 non-null   float64
 8   campaign   4521 non-null   int64
 9   pdays      4521 non-null   int64
 10  poutcome   4521 non-null   object
 11  y          4087 non-null   object
dtypes: float64(3), int64(2), object(7)
memory usage: 424.0+ KB

In [6]:
encodingDict = {
    'divorced' : 0,
    'single' : 1,
    'married' : 2, 
    }
df["marital"] = df["marital"].map(encodingDict)
df

,age,job,marital,education,balance,housing,loan,duration,campaign,pdays,poutcome,y
0,30.0,unemployed,2.0,primary,1787.0,no,no,79.0,1,-1,unknown,no
1,33.0,services,2.0,secondary,4789.0,yes,yes,NaN,1,339,failure,no
2,NaN,management,1.0,tertiary,135.0,yes,no,185.0,1,330,failure,no
3,30.0,management,2.0,tertiary,1476.0,yes,yes,199.0,4,-1,unknown,no
4,59.0,blue-collar,2.0,secondary,NaN,yes,no,226.0,1,-1,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33.0,services,2.0,secondary,-333.0,yes,no,329.0,5,-1,unknown,no
4517,57.0,self-employed,2.0,tertiary,-3313.0,yes,yes,153.0,1,-1,unknown,no
4518,57.0,technician,2.0,secondary,295.0,no,no,151.0,11,-1,unknown,no
4519,28.0,blue-collar,2.0,secondary,1137.0,no,no,129.0,4,211,other,no
4520,44.0,entrepreneur,1.0,tertiary,1136.0,yes,yes,345.0,2,249,other,no

In [7]:
df.isna().sum()

age          537
job            0
marital      120
education      0
balance      357
housing      219
loan           0
duration     133
campaign       0
pdays          0
poutcome       0
y            434
dtype: int64

In [19]:
df = df.fillna(df.mean())
nan = df[df['y'].isnull()]
df =df[df['y'].notnull()]
print(df.to_string())

/tmp/ipykernel_26892/1777244014.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.mean())

           age            job   marital  education      balance housing loan    duration  campaign  pdays poutcome    y
0     30.00000     unemployed  2.000000    primary   1787.00000      no   no    79.00000         1     -1  unknown   no
1     33.00000       services  2.000000  secondary   4789.00000     yes  yes   264.72402         1    339  failure   no
2     41.61747     management  1.000000   tertiary    135.00000     yes   no   185.00000         1    330  failure   no
3     30.00000     management  2.000000   tertiary   1476.00000     yes  yes   199.00000         4     -1  unknown   no
4     59.00000    blue-collar  2.000000  secondary   1136.75024     yes   no   226.00000         1     -1  unknown   no
5     41.61747     management  1.000000   tertiary    747.00000     NaN   no   141.00000         2    176  failure   no
6     36.00000  self-employed  2.000000   tertiary     37.00000     yes   no   341.00000         1    330    other   no
7     39.00000     technician  2.000000  secondary    147.00000     yes   no   151.00000         2     -1  unknown   no
8     41.00000   entrepreneur  2.000000   tertiary    221.00000     yes   no    57.00000         2     -1  unknown   no
9     43.00000       services  2.000000    primary    -88.00000     yes  yes   313.00000         1    147  failure   no
10    39.00000       services  2.000000  secondary   9374.00000     yes   no   273.00000         1     -1  unknown   no
11    43.00000         admin.  2.000000  secondary    264.00000     yes   no   113.00000         2     -1  unknown   no
12    36.00000     technician  2.000000   tertiary    119.00000      no   no   328.00000         2     -1  unknown   no
13    20.00000        student  1.000000  secondary     52.00000      no   no   261.00000         1     -1  unknown  yes
14    31.00000    blue-collar  2.000000  secondary     36.00000     yes  yes    89.00000         1    241  failure   no
15    40.00000     management  2.000000   tertiary    194.00000      no  yes   189.00000         2     -1  unknown   no
16    56.00000     technician  2.000000  secondary    473.00000      no   no   239.00000         5     -1  unknown   no
17    37.00000         admin.  1.503522   tertiary   2317.00000     yes   no   114.00000         1    152  failure   no
18    25.00000    blue-collar  1.000000    primary   -221.00000     yes   no   250.00000         1     -1  unknown   no
19    31.00000       services  2.000000  secondary    132.00000      no   no   148.00000         1    152    other   no
20    38.00000     management  0.000000    unknown   1136.75024     yes   no    96.00000         2     -1  unknown   no
21    42.00000     management  0.000000   tertiary     16.00000      no   no   140.00000         3     -1  unknown   no
22    44.00000       services  1.000000  secondary     16.00000      no   no   109.00000         2     -1  unknown   no
23    44.00000   entrepreneur  2.000000  secondary     93.00000      no   no   264.72402         2     -1  unknown   no
24    26.00000      housemaid  2.000000   tertiary    543.00000      no   no   169.00000         3     -1  unknown   no
25    41.00000     management  2.000000   tertiary   5883.00000      no   no   182.00000         2     -1  unknown   no
26    55.00000    blue-collar  2.000000    primary    627.00000     NaN   no   247.00000         1     -1  unknown   no
27    67.00000        retired  2.000000    unknown    696.00000      no   no   119.00000         1    105  failure   no
28    56.00000  self-employed  2.000000  secondary    784.00000      no  yes   149.00000         2     -1  unknown   no
29    41.61747         admin.  2.000000  secondary     15.00000      no  yes    74.00000         2     -1  unknown   no
30    68.00000        retired  0.000000  secondary   4189.00000      no   no   897.00000         2     -1  unknown  yes
31    31.00000     technician  2.000000  secondary    171.00000      no   no    81.00000         3     -1  unknown   no
32    59.00000     management  2.000000  secondary     42.00000      no   no    40.00000         1     -1  unknown   no
33    32.00000     management  1.000000   tertiary   2536.00000     yes   no   958.00000         6     -1  unknown  yes
35    42.00000         admin.  0.000000  secondary   1811.00000     yes   no   150.00000         1     -1  unknown   no
36    78.00000        retired  0.000000    primary    229.00000      no   no    97.00000         1     -1  unknown  yes
37    32.00000    blue-collar  2.000000  secondary    289.00000     yes   no   132.00000         1     -1  unknown  yes
39    23.00000       services  1.000000   tertiary    363.00000     yes   no    16.00000        18     -1  unknown   no
40    38.00000     management  1.503522   tertiary  11971.00000     yes   no   609.00000         2    101  failure   no
41    36.00000     management  1.000000   tertiary    553.00000      no   no   264.72402         2     -1  unknown   no
42    52.00000    blue-collar  2.000000  secondary   1117.00000     yes   no   365.00000         1     -1  unknown   no
43    32.00000     technician  2.000000   tertiary    396.00000     yes   no   205.00000         3     -1  unknown   no
44    32.00000     technician  1.000000   tertiary    224.00000     yes   no    11.00000         4     -1  unknown   no
45    41.61747     management  1.000000   tertiary    872.00000     yes   no   105.00000         2     -1  unknown   no
46    55.00000    blue-collar  2.000000    primary    145.00000      no   no    59.00000         3      5    other   no
47    26.00000    blue-collar  2.000000    primary   1136.75024     yes   no   425.00000         1     -1  unknown   no
48    32.00000   entrepreneur  1.000000    primary   -849.00000     NaN  yes   204.00000         1     -1  unknown   no
49    61.00000         admin.  2.000000    unknown   4629.00000     yes   no   181.00000         1     92  success  yes
50    45.00000    blue-collar  0.000000    primary    844.00000      no   no  1018.00000         3     -1  unknown  yes
51    37.00000     technician  1.000000  secondary    228.00000     yes   no  1740.00000         2     -1  unknown   no
52    38.00000     technician  1.000000  secondary      5.00000      no   no    98.00000         2     -1  unknown   no
53    41.61747     technician  2.000000   tertiary   1539.00000     yes   no   441.00000         1     56    other  yes
55    48.00000         admin.  2.000000  secondary    364.00000     yes   no   159.00000         2     -1  unknown   no
56    57.00000     management  2.000000  secondary     82.00000      no  yes   140.00000         1     -1  unknown   no
57    33.00000  self-employed  1.000000   tertiary   2155.00000      no   no   295.00000         1     -1  unknown   no
58    36.00000        retired  1.000000  secondary     11.00000     yes  yes   314.00000         1     -1  unknown   no
59    54.00000     technician  0.000000  secondary    784.00000     yes  yes   579.00000         1     -1  unknown   no
60    41.00000    blue-collar  2.000000    primary   -516.00000      no  yes   554.00000         3     -1  unknown   no
61    63.00000        retired  2.000000  secondary    415.00000     yes   no   323.00000         1     -1  unknown   no
62    48.00000     management  2.000000   tertiary   5887.00000      no   no   227.00000         2     -1  unknown   no
63    48.00000       services  2.000000  secondary   1355.00000      no   no   134.00000         2     -1  unknown   no
64    56.00000         admin.  2.000000  secondary  16873.00000      no   no   223.00000         1     -1  unknown   no
66    31.00000       services  2.000000  secondary    338.00000     yes   no   155.00000         1     -1  unknown   no
67    29.00000     technician  2.000000  secondary    444.00000     yes   no   130.00000         4     -1  unknown   no
68    41.00000     management  2.000000  secondary   1136.75024      no  yes   630.00000         3     -1  unknown   no
69    32.00000     technician  1.000000   tertiary     36.00000      no   no   164.00000         2     -1  unknown   no
70    37.00000     management  2.000000   tertiary   1136.75024      no   no   268.00000         2    182  success  yes
71    42.00000   entrepreneur  0.000000   tertiary      2.00000     yes   no   380.00000         1     -1  unknown   no
72    31.00000     management  1.000000   tertiary   6248.00000     yes   no   154.00000         2     -1  unknown   no
73    41.00000       services  2.000000   tertiary    412.00000     yes   no   154.00000         5     -1  unknown   no
74    56.00000        retired  2.000000  secondary    344.00000     yes   no   221.00000         1     -1  unknown   no
75    54.00000     management  0.000000   tertiary   3222.00000      no   no    67.00000         2     -1  unknown   no
76    41.00000    blue-collar  0.000000  secondary    174.00000     yes   no   367.00000         2    297    other   no
77    40.00000     technician  1.000000  secondary    591.00000      no  yes    87.00000         6     -1  unknown   no
78    50.00000    blue-collar  0.000000    primary    388.00000      no   no   701.00000         1     -1  unknown   no
79    40.00000     unemployed  2.000000  secondary    219.00000     yes   no   204.00000         2    196  failure   no
80    27.00000         admin.  0.000000  secondary    451.00000     yes   no   652.00000         1     -1  unknown  yes
81    60.00000        retired  2.000000    primary      5.00000      no   no    63.00000         2     -1  unknown   no
82    28.00000         admin.  1.000000  secondary    177.00000     yes  yes   150.00000         1     -1  unknown   no
83    52.00000       services  2.000000  secondary    657.00000      no   no   398.00000         2    460  failure  yes
84    37.00000     management  2.000000   tertiary   1315.00000      no   no   224.00000         1     -1  unknown  yes
85    51.00000    blue-collar  2.000000    primary   1466.00000     yes   no   406.00000         2     -1  unknown   no
86    41.00000     technician  1.000000  secondary    879.00000      no  yes    60.00000         4     -1  unknown   no
87    41.61747    blue-collar  1.000000    primary    293.00000     yes   no   521.00000         2     -1  unknown   no
88    38.00000         admin.  2.000000  secondary    424.00000     yes   no   279.00000         1     -1  unknown   no
91    41.61747    blue-collar  2.000000    primary    455.00000     yes   no   372.00000         3     -1  unknown   no
92    27.00000       services  1.000000  secondary   -195.00000     yes   no   391.00000         1     -1  unknown  yes
93    32.00000     management  1.000000   tertiary   3616.00000      no   no   165.00000         2     -1  unknown   no
95    41.00000        unknown  1.000000   tertiary   1567.00000      no   no   291.00000         2     -1  unknown   no
96    41.00000         admin.  2.000000   tertiary   5426.00000     yes   no   149.00000         2     -1  unknown   no
97    30.00000         admin.  1.000000   tertiary    261.00000     NaN   no   233.00000         1    137  failure   no
98    36.00000    blue-collar  0.000000  secondary   2843.00000      no   no   473.00000         1    182  success   no
99    31.00000     unemployed  1.503522    primary     46.00000      no   no   736.00000         1     -1  unknown  yes
100   36.00000    blue-collar  2.000000  secondary   1136.75024     NaN   no   337.00000         1     -1  unknown   no
102   49.00000     technician  2.000000  secondary   5996.00000      no   no   345.00000         2     -1  unknown   no
104   41.61747     management  1.000000  secondary    524.00000      no   no     9.00000         1     -1  unknown   no
105   32.00000     management  1.000000   tertiary    574.00000     NaN   no   259.00000         2    145  failure   no
106   37.00000    blue-collar  2.000000  secondary    427.00000     yes  yes   371.00000         3     -1  unknown   no
107   33.00000  self-employed  2.000000   tertiary    483.00000     yes   no   280.00000         2     -1  unknown   no
108   56.00000     unemployed  2.000000    primary   3391.00000      no   no   243.00000         1     -1  unknown  yes
109   27.00000      housemaid  2.000000    primary   1136.75024     yes   no   435.00000         3     -1  unknown   no
110   21.00000        student  1.000000  secondary   2488.00000      no   no   258.00000         6    169  success  yes
112   32.00000  self-employed  2.000000  secondary    217.00000     yes  yes   317.00000         5     -1  unknown   no
113   33.00000    blue-collar  1.000000  secondary     22.00000      no   no    76.00000         2    207  failure   no
114   25.00000        student  1.000000  secondary    331.00000      no   no   170.00000         4     -1  unknown  yes
115   25.00000     technician  1.000000  secondary     55.00000      no  yes   386.00000         2     -1  unknown  yes
116   30.00000       services  2.000000  secondary    188.00000     yes   no    83.00000         2     -1  unknown   no
117   22.00000         admin.  1.000000  secondary   4111.00000      no  yes    65.00000         1     -1  unknown   no
118   39.00000    blue-collar  2.000000    primary     52.00000      no   no    69.00000         1     -1  unknown   no
119   46.00000     management  0.000000   tertiary     25.00000      no   no   564.00000         2     -1  unknown   no
121   45.00000    blue-collar  2.000000    primary    419.00000      no   no   113.00000         4     -1  unknown   no
122   32.00000     technician  2.000000  secondary   2693.00000     yes   no    16.00000         1     -1  unknown   no
123   36.00000    blue-collar  2.000000  secondary   -231.00000      no  yes   779.00000         2     -1  unknown   no
124   51.00000     management  1.000000   tertiary    -55.00000     yes   no   281.00000         2    266  failure   no
125   41.61747  self-employed  1.000000   tertiary    462.00000     NaN   no  1877.00000         3     -1  unknown  yes
126   41.61747     unemployed  1.000000  secondary    119.00000      no   no    51.00000         1     -1  unknown   no
127   45.00000     technician  1.000000  secondary    586.00000      no  yes    32.00000         3     -1  unknown   no
128   32.00000    blue-collar  1.000000  secondary    228.00000      no   no   176.00000         1    288  failure   no
129   41.61747        retired  0.000000   tertiary   4659.00000      no   no   161.00000         1     -1  unknown  yes
130   41.00000    blue-collar  2.000000    primary    168.00000     yes   no   187.00000         3     -1  unknown   no
131   37.00000    blue-collar  2.000000    primary   1136.75024     yes   no    24.00000         1     -1  unknown   no
132   43.00000    blue-collar  2.000000    unknown   -715.00000     yes   no   264.72402         3     -1  unknown   no
133   48.00000         admin.  2.000000    unknown   1136.75024     yes   no    85.00000         1    168  failure   no
135   33.00000     management  1.000000   tertiary   1136.75024      no   no   236.00000        10     -1  unknown   no
136   29.00000         admin.  1.000000  secondary    428.00000     yes  yes    54.00000         1    345  failure   no
137   41.61747     management  1.000000   tertiary   1136.75024      no   no    71.00000         1     -1  unknown   no
138   52.00000     management  2.000000   tertiary    -97.00000     yes   no   489.00000         1     -1  unknown  yes
139   60.00000     management  2.000000    unknown   6313.00000      no   no    39.00000         2     -1  unknown   no
140   32.00000     management  0.000000   tertiary    948.00000      no   no   204.00000         2     -1  unknown   no
141   32.00000     management  1.000000   tertiary   1136.75024     yes   no   455.00000         2     -1  unknown   no
142   56.00000       services  0.000000    unknown   1877.00000     yes   no    86.00000         1     -1  unknown   no
143   31.00000     management  1.000000   tertiary    874.00000     yes   no   190.00000         2     -1  unknown   no
144   42.00000         admin.  2.000000  secondary    323.00000     yes  yes   280.00000         2     -1  unknown   no
146   56.00000        retired  2.000000    primary    196.00000      no  yes    45.00000         9     -1  unknown   no
147   48.00000     technician  2.000000  secondary   1152.00000     yes   no   168.00000         5     -1  unknown   no
148   46.00000         admin.  2.000000  secondary    179.00000     yes   no   194.00000         4    436    other   no
149   37.00000     technician  1.000000    unknown    391.00000     yes   no   103.00000         3     -1  unknown   no
150   41.00000   entrepreneur  2.000000    unknown     89.00000     yes   no   333.00000         2     -1  unknown   no
151   36.00000     management  1.000000   tertiary    442.00000     yes  yes   102.00000         3     -1  unknown   no
152   45.00000     unemployed  0.000000    primary   -249.00000     yes  yes    92.00000         1     -1  unknown   no
153   55.00000   entrepreneur  2.000000  secondary    814.00000      no   no   213.00000         2     -1  unknown   no
154   39.00000     technician  2.000000  secondary     51.00000      no   no   289.00000         1     -1  unknown   no
155   41.61747     technician  0.000000  secondary     38.00000      no   no    77.00000         2     -1  unknown   no
156   55.00000         admin.  2.000000  secondary     62.00000      no   no   264.72402         3     90  success  yes
157   55.00000     technician  2.000000  secondary    273.00000     yes   no    84.00000         3    183  failure   no
158   27.00000  self-employed  1.000000  secondary      5.00000      no   no   168.00000         1     -1  unknown   no
159   41.61747     technician  2.000000  secondary   1641.00000     yes   no   380.00000         1     -1  unknown   no
160   41.61747    blue-collar  2.000000   tertiary      2.00000      no   no   264.72402         1     -1  unknown   no
161   25.00000         admin.  1.000000  secondary    459.00000     yes   no   199.00000         2     -1  unknown   no
163   43.00000       services  2.000000  secondary    978.00000     yes  yes    82.00000         2     -1  unknown   no
164   28.00000     management  1.000000   tertiary      8.00000      no   no   676.00000         2    146  failure  yes
165   31.00000         admin.  1.000000  secondary    214.00000     yes   no   455.00000         1     -1  unknown   no
166   78.00000      housemaid  2.000000  secondary    499.00000      no   no    80.00000         4     -1  unknown   no
167   45.00000    blue-collar  0.000000  secondary   1269.00000     yes   no   549.00000         2     -1  unknown   no
169   32.00000    blue-collar  1.000000  secondary   1143.00000     yes  yes   412.00000         1     -1  unknown   no
170   42.00000     technician  2.000000  secondary    298.00000      no   no   101.00000         3     -1  unknown   no
171   37.00000     management  1.000000   tertiary     37.00000      no   no   253.00000         2     -1  unknown   no
172   40.00000         admin.  1.000000  secondary    462.00000     yes  yes   272.00000         1    335    other   no
173   32.00000         admin.  2.000000  secondary    131.00000     yes   no   264.72402         1     -1  unknown   no
174   42.00000     management  2.000000   tertiary     99.00000      no   no   135.00000         2     -1  unknown   no
175   43.00000         admin.  2.000000  secondary   -465.00000     yes  yes   166.00000         1     -1  unknown   no
176   44.00000         admin.  2.000000  secondary   5181.00000     yes  yes    18.00000         7     -1  unknown   no
177   37.00000         admin.  2.000000  secondary    176.00000     yes   no   147.00000         2    347  failure   no
178   37.00000        unknown  2.000000    unknown   1699.00000      no   no    63.00000         1     -1  unknown   no
179   37.00000         admin.  2.000000   tertiary   1136.75024     yes   no    65.00000         2    119  failure   no

In [20]:
print(nan.to_string())

           age            job   marital  education      balance housing loan    duration  campaign  pdays poutcome    y
34    49.00000     technician  2.000000   tertiary   1235.00000      no   no   354.00000         3     -1  unknown  NaN
38    33.00000     management  2.000000  secondary   3935.00000     yes   no   765.00000         1    342  failure  NaN
54    41.61747    blue-collar  2.000000  secondary   2231.00000     yes   no   272.00000         3     -1  unknown  NaN
65    51.00000    blue-collar  0.000000  secondary     23.00000     yes   no   134.00000         1    170  failure  NaN
89    41.61747    blue-collar  2.000000  secondary   1831.00000     yes   no   203.00000         2     -1  unknown  NaN
90    39.00000    blue-collar  2.000000    primary    111.00000      no   no   201.00000         2     -1  unknown  NaN
94    57.00000    blue-collar  2.000000  secondary   1493.00000      no   no   231.00000         5     -1  unknown  NaN
101   38.00000     management  1.000000   tertiary    493.00000     yes   no   553.00000         1    367  failure  NaN
103   57.00000       services  1.000000    primary   3777.00000     yes   no    65.00000         2     -1  unknown  NaN
111   58.00000     management  2.000000   tertiary   1517.00000     yes   no     7.00000         5     -1  unknown  NaN
120   31.00000         admin.  0.000000  secondary    189.00000     yes   no   588.00000         1     -1  unknown  NaN
134   27.00000     technician  1.000000  secondary    769.00000     yes   no   317.00000         2     -1  unknown  NaN
145   41.61747     management  2.000000   tertiary     16.00000      no  yes   588.00000         2     -1  unknown  NaN
162   41.00000         admin.  1.000000  secondary   -256.00000      no  yes    35.00000         3     -1  unknown  NaN
168   48.00000     technician  2.000000   tertiary     31.00000      no   no   264.72402         1     -1  unknown  NaN
188   36.00000     technician  1.503522  secondary     23.00000     yes   no   152.00000         2    347  failure  NaN
193   36.00000       services  2.000000  secondary   1981.00000      no   no    48.00000         2     -1  unknown  NaN
197   38.00000       services  2.000000  secondary      1.00000      no  yes   152.00000         2     -1  unknown  NaN
205   45.00000     technician  1.503522   tertiary   1136.75024     yes   no   139.00000         2     -1  unknown  NaN
218   49.00000    blue-collar  1.503522    primary     35.00000     yes  yes   834.00000        10     -1  unknown  NaN
251   32.00000     management  2.000000   tertiary   2349.00000      no   no   134.00000         5     -1  unknown  NaN
259   29.00000    blue-collar  1.503522  secondary    482.00000      no  yes  1097.00000         3     -1  unknown  NaN
276   41.61747      housemaid  2.000000   tertiary  11219.00000      no   no   699.00000         2     79  failure  NaN
294   47.00000     management  2.000000   tertiary   3681.00000      no   no   101.00000         2     -1  unknown  NaN
317   50.00000         admin.  2.000000    primary    276.00000      no  yes   641.00000         6     -1  unknown  NaN
337   33.00000     management  1.000000   tertiary    141.00000     yes   no     8.00000         1    254  failure  NaN
344   37.00000     management  1.000000    unknown     54.00000     yes   no   555.00000         1     -1  unknown  NaN
365   23.00000        student  1.000000  secondary     78.00000      no   no   267.00000         1     -1  unknown  NaN
373   51.00000     technician  2.000000  secondary   -379.00000     yes   no   261.00000         1     -1  unknown  NaN
381   39.00000    blue-collar  2.000000    primary    375.00000     yes   no    77.00000         1     -1  unknown  NaN
382   59.00000        retired  2.000000   tertiary   9676.00000      no   no   234.00000         2     -1  unknown  NaN
383   37.00000       services  2.000000  secondary   1328.00000     yes   no   264.72402         2    341  failure  NaN
394   33.00000    blue-collar  2.000000  secondary     43.00000     yes   no   332.00000         2    358  failure  NaN
411   41.61747    blue-collar  1.000000  secondary    186.00000      no   no   342.00000         1     -1  unknown  NaN
416   31.00000       services  1.000000  secondary     27.00000      no   no   319.00000         2     -1  unknown  NaN
419   46.00000     technician  2.000000  secondary   1322.00000     yes  yes   514.00000         1     -1  unknown  NaN
446   31.00000     technician  2.000000  secondary   2363.00000     yes   no   247.00000         1     -1  unknown  NaN
492   41.61747         admin.  2.000000  secondary   1796.00000      no   no   295.00000         1     91  success  NaN
494   44.00000     technician  1.000000  secondary    244.00000     yes   no  1735.00000         4     -1  unknown  NaN
502   31.00000     management  2.000000   tertiary     13.00000      no   no   110.00000         5     -1  unknown  NaN
504   41.00000     management  2.000000   tertiary   3872.00000      no   no   231.00000         1     -1  unknown  NaN
505   31.00000     unemployed  2.000000  secondary    296.00000     yes   no   378.00000         3     -1  unknown  NaN
513   48.00000     management  0.000000   tertiary     18.00000     yes   no    89.00000         2     -1  unknown  NaN
515   45.00000     unemployed  0.000000    primary    757.00000      no   no   103.00000         1    325  failure  NaN
522   43.00000         admin.  0.000000  secondary    738.00000     yes   no   585.00000         4    191  failure  NaN
531   58.00000     management  2.000000    primary     76.00000     yes   no    54.00000         4     -1  unknown  NaN
557   43.00000     management  1.000000   tertiary    134.00000      no   no   501.00000         2     -1  unknown  NaN
590   45.00000  self-employed  2.000000   tertiary    334.00000      no   no    87.00000         2     -1  unknown  NaN
591   39.00000     technician  2.000000  secondary    148.00000      no  yes   405.00000         1     -1  unknown  NaN
606   28.00000    blue-collar  2.000000  secondary     12.00000     yes   no   251.00000         1     -1  unknown  NaN
613   41.00000  self-employed  2.000000   tertiary    231.00000      no   no   352.00000         2     -1  unknown  NaN
614   39.00000     technician  2.000000   tertiary   1161.00000     yes   no   236.00000         1    336  failure  NaN
624   31.00000  self-employed  2.000000   tertiary   1134.00000      no   no   174.00000         2     -1  unknown  NaN
635   33.00000     management  0.000000   tertiary     28.00000      no  yes   155.00000         1     -1  unknown  NaN
636   41.00000    blue-collar  0.000000    primary   2195.00000     yes   no   211.00000         5     -1  unknown  NaN
641   56.00000        unknown  2.000000    unknown   1136.75024      no   no   471.00000         2     -1  unknown  NaN
647   46.00000     management  0.000000   tertiary   6269.00000     yes   no   249.00000         3    112  failure  NaN
655   59.00000        retired  2.000000    primary   1136.75024     yes   no   104.00000         7     -1  unknown  NaN
673   33.00000     management  2.000000   tertiary    188.00000     yes   no    99.00000         4     -1  unknown  NaN
675   37.00000     technician  2.000000  secondary     64.00000     yes   no   239.00000         4    278    other  NaN
679   44.00000      housemaid  2.000000    primary    376.00000      no   no   209.00000         3     -1  unknown  NaN
684   28.00000       services  1.000000  secondary    168.00000      no   no   347.00000         3    140  success  NaN
694   49.00000     management  2.000000   tertiary    143.00000      no   no   231.00000         2     -1  unknown  NaN
695   51.00000        retired  2.000000  secondary     35.00000      no  yes   123.00000         4     -1  unknown  NaN
706   33.00000     technician  1.000000   tertiary    123.00000      no   no   264.00000         1     -1  unknown  NaN
730   38.00000  self-employed  1.000000  secondary   1146.00000     yes   no    91.00000         2     -1  unknown  NaN
735   30.00000       services  1.000000  secondary    566.00000      no   no   110.00000         1     -1  unknown  NaN
749   43.00000    blue-collar  0.000000    primary     49.00000     yes   no   100.00000         1     -1  unknown  NaN
766   57.00000     management  2.000000    primary    152.00000     yes   no   227.00000         4     -1  unknown  NaN
769   52.00000     management  2.000000   tertiary   1944.00000     yes   no   238.00000         3    323  failure  NaN
795   30.00000     management  1.000000   tertiary    162.00000     yes   no   186.00000         4     -1  unknown  NaN
803   57.00000      housemaid  1.000000  secondary    254.00000      no   no   676.00000         1     -1  unknown  NaN
813   31.00000     management  2.000000  secondary    466.00000     yes   no   164.00000         1     -1  unknown  NaN
822   40.00000  self-employed  2.000000   tertiary  13669.00000      no   no   138.00000         1    136    other  NaN
830   42.00000     management  1.000000   tertiary   1136.75024      no   no    99.00000         1     -1  unknown  NaN
831   47.00000    blue-collar  2.000000  secondary   1996.00000      no   no   264.72402         2     -1  unknown  NaN
837   39.00000       services  1.000000  secondary    766.00000     yes   no   667.00000         3    357    other  NaN
860   58.00000    blue-collar  2.000000    primary     39.00000      no   no   156.00000         2     -1  unknown  NaN
868   41.61747     technician  2.000000  secondary    141.00000     yes   no   299.00000         2     -1  unknown  NaN
877   30.00000     management  1.000000   tertiary  19358.00000      no   no   258.00000         2     -1  unknown  NaN
883   45.00000   entrepreneur  2.000000    primary     58.00000     yes   no   119.00000         3    371  failure  NaN
892   27.00000        student  1.000000   tertiary   5291.00000      no   no   192.00000         2     92  failure  NaN
902   58.00000     technician  1.000000  secondary     49.00000      no  yes   643.00000         2     -1  unknown  NaN
935   46.00000    blue-collar  2.000000    primary    294.00000      no   no   277.00000         2     -1  unknown  NaN
951   55.00000     management  2.000000   tertiary    979.00000      no  yes   123.00000         1     -1  unknown  NaN
967   41.61747    blue-collar  2.000000  secondary   6411.00000     NaN  yes   144.00000         1    266  failure  NaN
977   44.00000  self-employed  2.000000   tertiary    134.00000      no   no    86.00000         4     -1  unknown  NaN
993   31.00000         admin.  2.000000  secondary    314.00000     yes   no   279.00000         1     -1  unknown  NaN
994   59.00000      housemaid  2.000000    primary   1136.75024      no   no    76.00000        11     -1  unknown  NaN
999   20.00000        student  1.000000  secondary    291.00000      no   no   172.00000         5    371  failure  NaN
1001  31.00000     technician  1.000000   tertiary    438.00000     yes   no   130.00000         2     -1  unknown  NaN
1004  41.61747    blue-collar  2.000000  secondary     24.00000     yes  yes   229.00000         3     -1  unknown  NaN
1024  36.00000    blue-collar  2.000000  secondary   2357.00000     yes   no   228.00000         2     -1  unknown  NaN
1032  46.00000     management  1.000000    primary    538.00000      no   no   118.00000         3     -1  unknown  NaN
1052  30.00000         admin.  2.000000  secondary     11.00000     yes   no   157.00000         1     -1  unknown  NaN
1066  38.00000     technician  2.000000  secondary     74.00000      no   no   259.00000         3     -1  unknown  NaN
1067  44.00000     management  2.000000  secondary   8262.00000     yes   no   201.00000        16     -1  unknown  NaN
1069  45.00000     technician  1.000000    unknown    718.00000     yes  yes    53.00000         1    172  failure  NaN
1096  46.00000     technician  2.000000   tertiary    217.00000     yes   no   141.00000         1    346    other  NaN
1098  37.00000     technician  1.000000  secondary   1136.75024     NaN   no    69.00000         2     -1  unknown  NaN
1101  28.00000     management  2.000000   tertiary    148.00000     yes   no   143.00000         1     -1  unknown  NaN
1104  37.00000    blue-collar  1.000000    primary    851.00000     yes   no   151.00000         1    352  failure  NaN
1109  59.00000     technician  2.000000  secondary      1.00000      no   no   264.72402         2    378  failure  NaN
1110  50.00000    blue-collar  0.000000    primary     -1.00000      no  yes   369.00000         6     -1  unknown  NaN
1155  32.00000     technician  1.000000   tertiary    259.00000      no   no   407.00000         4     -1  unknown  NaN
1181  41.61747       services  2.000000  secondary    176.00000     NaN   no   152.00000         1    182  success  NaN
1189  41.61747     technician  1.000000  secondary     21.00000      no   no   257.00000         2     -1  unknown  NaN
1197  64.00000     management  2.000000   tertiary    679.00000      no   no   135.00000         3     -1  unknown  NaN
1210  60.00000         admin.  0.000000  secondary    174.00000     yes   no   241.00000         1    364  failure  NaN
1211  66.00000         admin.  1.000000  secondary   1177.00000      no   no   272.00000         4     -1  unknown  NaN
1217  44.00000    blue-collar  1.503522    primary    271.00000     yes  yes    94.00000         1     -1  unknown  NaN
1221  30.00000  self-employed  2.000000  secondary   1772.00000     yes   no   158.00000         4     -1  unknown  NaN
1222  27.00000         admin.  1.000000  secondary     15.00000      no  yes   177.00000         1     -1  unknown  NaN
1223  49.00000     management  0.000000   tertiary    237.00000     yes  yes    56.00000         1    103    other  NaN
1224  27.00000       services  1.000000  secondary     21.00000     yes   no   172.00000         2     -1  unknown  NaN
1229  27.00000    blue-collar  1.503522    primary    -79.00000     yes   no   385.00000         5     -1  unknown  NaN
1243  69.00000        retired  2.000000    primary    579.00000      no   no   230.00000         1     -1  unknown  NaN
1245  45.00000         admin.  1.000000  secondary   1136.75024     yes   no    38.00000         1     -1  unknown  NaN
1250  33.00000     management  0.000000  secondary   1897.00000     yes  yes   197.00000         1     -1  unknown  NaN
1260  33.00000       services  1.000000  secondary    -56.00000      no  yes   119.00000         5     -1  unknown  NaN
1261  30.00000    blue-collar  2.000000    primary      1.00000     yes  yes    80.00000         2     -1  unknown  NaN
1262  43.00000    blue-collar  2.000000    primary    -98.00000     yes  yes   112.00000         2    330    other  NaN
1287  31.00000     management  2.000000   tertiary    263.00000     yes   no   280.00000         4     -1  unknown  NaN
1295  41.61747     management  1.000000   tertiary    172.00000      no   no    67.00000         2     -1  unknown  NaN
1302  46.00000    blue-collar  2.000000  secondary    494.00000     yes   no   724.00000         1     -1  unknown  NaN
1312  80.00000        retired  2.000000  secondary    834.00000      no   no   264.72402         1     64  failure  NaN
1334  32.00000     management  1.000000   tertiary    311.00000      no   no   757.00000         2     -1  unknown  NaN
1341  31.00000       services  2.000000  secondary    413.00000     yes   no    65.00000         1     -1  unknown  NaN
1343  47.00000     technician  2.000000  secondary   1233.00000     yes   no    91.00000         1    100    other  NaN
1346  41.61747         admin.  2.000000  secondary   1499.00000     yes   no   186.00000         1    327  failure  NaN
1347  29.00000  self-employed  2.000000   tertiary    751.00000     yes   no   121.00000         2     -1  unknown  NaN
1358  41.00000     technician  2.000000  secondary   1136.75024      no   no   101.00000         1     -1  unknown  NaN
1364  41.61747     management  2.000000   tertiary    196.00000     yes   no    68.00000         3     -1  unknown  NaN
1366  36.00000     management  2.000000   tertiary   -296.00000     yes   no   113.00000         3     -1  unknown  NaN
1373  56.00000    blue-collar  2.000000    primary    379.00000      no   no    58.00000         5     -1  unknown  NaN
1382  41.61747         admin.  1.503522  secondary    299.00000     yes   no   209.00000         1    321  failure  NaN
1406  44.00000         admin.  1.000000  secondary   2524.00000      no   no    82.00000         1     -1  unknown  NaN
1435  64.00000        retired  2.000000  secondary   1574.00000      no   no   301.00000         3     -1  unknown  NaN
1441  49.00000        unknown  2.000000    unknown     31.00000      no   no   789.00000         2     -1  unknown  NaN
1447  45.00000         admin.  2.000000  secondary    638.00000     yes   no    75.00000         9     -1  unknown  NaN
1451  29.00000       services  2.000000  secondary   3748.00000      no   no   264.72402         3     -1  unknown  NaN
1489  27.00000        unknown  1.000000   tertiary   6421.00000      no   no   147.00000         4     -1  unknown  NaN
1498  51.00000    blue-collar  0.000000    primary    837.00000      no   no    41.00000         2     -1  unknown  NaN
1500  30.00000       services  2.000000  secondary   1743.00000     NaN   no   192.00000         4     -1  unknown  NaN
1514  32.00000     technician  2.000000  secondary    167.00000     yes  yes    79.00000         3     -1  unknown  NaN
1517  41.61747        unknown  2.000000    unknown     13.00000      no   no   264.72402         1     -1  unknown  NaN
1523  41.61747     technician  1.000000  secondary   2178.00000     yes   no    41.00000         1     -1  unknown  NaN
1545  56.00000         admin.  1.503522  secondary   1136.75024     yes   no   154.00000         2     -1  unknown  NaN
1555  41.61747   entrepreneur  2.000000   tertiary    412.00000     yes  yes   164.00000         1     -1  unknown  NaN
1560  52.00000     management  2.000000   tertiary   1339.00000     yes   no   343.00000         5     -1  unknown  NaN
1563  55.00000   entrepreneur  2.000000  secondary     24.00000     NaN   no   455.00000        13     -1  unknown  NaN
1565  45.00000     unemployed  0.000000  secondary    728.00000     yes  yes   107.00000         1     -1  unknown  NaN
1585  42.00000    blue-collar  2.000000  secondary   5639.00000     NaN   no   430.00000         2     -1  unknown  NaN
1597  41.61747  self-employed  1.000000   tertiary    876.00000     yes   no   264.72402         2     -1  unknown  NaN
1604  49.00000     management  1.000000   tertiary    151.00000     yes   no   264.72402         3     -1  unknown  NaN
1605  41.61747       services  2.000000  secondary     -2.00000     yes  yes   144.00000         2     -1  unknown  NaN
1615  41.61747     management  2.000000   tertiary    417.00000     yes   no   138.00000         1     -1  unknown  NaN
1629  42.00000    blue-collar  2.000000  secondary     13.00000     yes   no   285.00000         1     -1  unknown  NaN
1630  32.00000     management  0.000000   tertiary      1.00000     yes   no   399.00000         4     -1  unknown  NaN
1646  38.00000     technician  1.000000   tertiary   2273.00000     yes   no   222.00000         1     -1  unknown  NaN
1665  51.00000    blue-collar  2.000000  secondary   2237.00000     yes   no   619.00000         1     -1  unknown  NaN
1671  41.61747    blue-collar  2.000000    primary    624.00000     yes   no   163.00000         1     -1  unknown  NaN
1721  60.00000        retired  2.000000  secondary    262.00000      no   no   393.00000         4     -1  unknown  NaN
1732  48.00000     management  2.000000    primary    191.00000     yes   no   413.00000         2     -1  unknown  NaN
1736  40.00000         admin.  1.000000  secondary      1.00000     NaN   no   221.00000         1    461  success  NaN

In [29]:
df['housing'].value_counts(dropna=True)

yes    2188
no     1698
Name: housing, dtype: int64

In [24]:
df['y'].value_counts()

no     3623
yes     464
Name: y, dtype: int64

In [42]:
(df.loc[(df['age'] > 35) & (df['marital'] == 1) & (df['poutcome'] == "success") ]).value_counts()

TypeError: unsupported operand type(s) for &: 'float' and 'float'